<header id="header">
  <div class="logo">
    <span class="icon fa-tree"></span>
  </div>
  <div class="content">
    <div class="inner">
      <h1>Pacific Wild</h1>
      <p> Dedicated to protecting the Pacific coast of British Columbia and the Great Bear Rainforest.</p>
    </div>
  </div>
  <nav>
    <ul>
      {% assign items  = site.pages | sort: 'order' %}
      {% for item in items  %}
        <li><a href="#{{ item.slug }}">{{ item.title }}</a></li>
      {% endfor %}
    </ul>
  </nav>
</header>
